@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://dl.dropbox.com/s/qm6x16r9jjlbgd4/game-icons.css');

#formiga{
	margin:0 auto;
	width:510px;
	text-align:justify;
	font-size:var(--font);
	font-family: 'Mukta', sans-serif;
	color:#dfdfdf;
}

#formiga .bandeira{
	display:block;
	margin:0 auto;
	width:52px;
	height:50px;
	opacity:0.9;
}

#formiga .titulo{
	margin:0 auto;
	width:540px;
	text-align:center;
	color:var(--cor);
	letter-spacing:14px;
	border-bottom: 1px outset var(--cor);
	font-size:var(--font-titulo);
}

#formiga .sub{
	letter-spacing:5px;
	border:none;
	font-size:var(--font-sub);
}

}

#formiga r{
	color:var(--cor);
	font-style:italic;
}

.ico{
	margin: 0 auto;
	width:125px;
}

.icon{
	font-size:40px;
	opacity:0.8;
	margin:0;
}

#formiga dl.codebox dt {
	color:var(--cor);
}

.cred{
	text-align:center;
}

.cred a {
	color:#ccc;
	font-size:8px;
	letter-spacing:6px;
}
